{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<h2>chatroom</h2>

<script type="text/javascript">
    $(document).ready(function () {


        var socket = io.connect('http://127.0.0.1:5000');
        var roomName = 'room0';

        socket.on('connect', function () {
            socket.emit('join', {'room': 'room0'});
            socket.send('you have connected');
        })


        socket.on('sys broadcast', function(sys_message){
            $('#systemInfo').append('<li>' + sys_message['message'] + '</li>');
        })


        socket.on('message', function (message) {
            var message = JSON.parse(message);


            $("#messages").append('<li>' +" " + message['talker'] + ': ' + message['time'] + '  ' + message['message'] + '</li>');
            talker = message['talker'];
            console.log('Received the message');

        })

        $('#sendButton').on('click', function () {
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
        })

        $('#room').on('click', function(){
            roomName = $('#roomName').val();
            socket.emit('join', {'room': $('#roomName').val()});
            $('room').text('Leave Room');
        })



        $('#btnAllRoomTalkers').on('click', function(room_name){
            socket.emit('get room talkers', roomName);
        })

    })
</script>

<ul id="messages"></ul>


<input type="text" id="myMessage">
<button id="sendButton">Send</button>
<br>
<input type="text" id="roomName">
<button id="room">Join Room</button>
<br>
<!-- adding -->
<input type="text", id="friendName">
<button></button>

<button id="btnAllRoomTalkers">All Talkers</button>

<h3>systemInfo</h3>
<ul id="systemInfo"></ul>

{% endblock content %}